@model Customer
@{
    ViewData["Title"] = "Ajouter entrée client";
}

<form method="post" asp-action="Create">
  <div class="border p-3">
    @*validation message for all entries. not used here*@
    @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
    <div class="form-group row">
      <h2 class="text-black-50 pl-3">Ajouter une entrée client</h2>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="form-group row">
          <div class="col-sm-6 col-lg-3 col-md- mb-3">
            <label asp-for="Lastname"></label>
            <input asp-for="Lastname" class="form-control" />
            <span asp-validation-for="Lastname" class="text-danger"></span>
          </div>
          <div class="col-sm-6 col-lg-3 mb-3">
            <label asp-for="Firstname"></label>
            <input asp-for="Firstname" class="form-control" />
            <span asp-validation-for="Firstname" class="text-danger"></span>
          </div>
          <div class="col-sm-6 col-lg-3 mb-3">
            <label asp-for="Mail"></label>
            <input asp-for="Mail" class="form-control" />
            <span asp-validation-for="Mail" class="text-danger"></span>
          </div>
          <div class="col-sm-6 col-lg-3 mb-3">
            <label asp-for="PhoneNumber"></label>
            <input asp-for="PhoneNumber" class="form-control" />
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
          </div>
          <div class="col-sm-6 col-lg-3 mb-3">
            <label asp-for="Budget">Budget (optionel)</label>
            <input asp-for="Budget" class="form-control" />
            <span asp-validation-for="Budget" class="text-danger"></span>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-8 d-flex justify-content-between mx-auto mt-4">
            <input type="submit" class="btn btn-info col-4" value="Ajouter" />
            <a asp-action="Index" class="btn btn-success col-4">Retour</a>
          </div>
        </div>
      </div>
    </div>
</form>

@section Scripts{ 
    @{ <partial name="_ValidationScriptsPartial" />}
}
