@model IEnumerable<Customer>

@{
    ViewData["Title"] = "liste des clients";
}

<div class="container p-3">
  <div class="row pt-4">
    <div class="col-6">
      <h2 class="text-primary">Liste des courtiers</h2>
    </div>
    <a class="nav-link text-dark" asp-area="" asp-controller="Customer" asp-action="Create">Ajouter un nouveau courtier</a>

  </div>

  @if(Model.Count() > 0)
      {
        <table class="table table-bordered table-striped" style="width:100%">
          <thead>
            <tr>
              <th>Nom de famille</th>
              <th>Prénom</th>
              <th>Courriel</th>
              <th>Numéro de téléphone</th>
            </tr>
          </thead>
          <tbody>
            @foreach(var broker in Model)
        {
          <tr>
            <td width="20%">@broker.Lastname</td>
            <td width="20%">@broker.Firstname</td>
            <td width="20%">@broker.Mail</td>
            <td width="20%">@broker.PhoneNumber</td>
          </tr>
        }
          </tbody>
        </table>
      }
</div>
