@model brokerAgenda.Models.ViewModels.AppointmentDropDownVM
@{ ViewData["Title"] = "Ajouter rendez-vous"; }

<form method="post" asp-action="Create">
  <div class="border p-3">
    @*validation message for all entries. not used here*@
    @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
    <div class="form-group row">
      <h2 class="text-primary font-weight-normal pl-3">Ajouter un rendez-vous</h2>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="form-group row">
          <div class="col-3">
            <label asp-for="Appointment.IdBroker">Nom du courtier</label>
          </div>
          <div class="col-3">
            <label asp-for="Appointment.IdCustomer">Nom du client</label>
          </div>
          <div class="col-3">
            <label asp-for="Appointment.DateHour"></label>
          </div>
          <div class="col-3">
            <label asp-for="Appointment.Subject"></label>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-3">
            <select asp-for="Appointment.IdBroker" asp-items="@Model.BrokerDropDown" class="form-control">
              @{if (Model.BrokerDropDown.All(b => b.Selected == false)) {<option selected>-- Choisissez un courtier --</option>} }
            </select>
            <span asp-validation-for="Appointment.IdBroker" class="text-danger"></span>
          </div>
          <div class="col-3">
            <select asp-for="Appointment.IdCustomer" asp-items="@Model.CustomerDropDown" class="form-control">
              @{if (Model.CustomerDropDown.All(c => c.Selected == false)) {<option selected>-- Choisissez un client --</option>} }
            </select>
            <span asp-validation-for="Appointment.IdCustomer" class="text-danger"></span>
          </div>
          <div class="col-3">
            <input asp-for="Appointment.DateHour" min="2021-01-01T00:00" value="@DateTime.Now.ToString("dd-MM-yyyy hh:mmtt")" class="form-control" />
            <span asp-validation-for="Appointment.DateHour" class="text-danger"></span>
          </div>
          <div class="col-3">
            <textarea asp-for="Appointment.Subject" rows="5" class="form-control"></textarea>
            <span asp-validation-for="Appointment.Subject" class="text-danger"></span>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-8 d-flex justify-content-between mx-auto mt-4">
            <input type="submit" class="btn btn-info col-4" value="Ajouter" />
            <a asp-action="Index" class="btn btn-success col-4">Retour</a>
          </div>
        </div>

      </div>
    </div>
  </div>
</form>

@section Scripts{
  @{
    <partial name="_ValidationScriptsPartial" />
  }
}
