/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.hover-filter-blue:hover {
  filter: invert(43%) sepia(39%) saturate(2289%) hue-rotate(184deg) brightness(99%) contrast(88%);
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  z-index: -1;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.modification-container {
  position: fixed;
  overflow: hidden;
  pointer-events: none;
  width: 480px;
  height: 140px;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.modification-details {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 100px;
  bottom: 40px;
  right: -420px;
  padding: 0 40px;
  animation: cubic-bezier(0.175, 0.885, 0.32, 1.275) 4s details-slideLeft;
}

.modification-details>p {
  margin: 0;
  text-align: center;
}

.modification-details.create {
  background-color: lightskyblue;
}

.modification-details.delete {
  background-color: pink;
}

.modification-details.update {
  background-color: lightgreen;
}

.table td {
  vertical-align: middle;
}

.created-entry {
  transition: background-color 2s;
/*  border: 2px solid dodgerblue;*/
  animation: fade_blue 2s linear 0s alternate;
  -webkit-animation: fade_blue 2s linear 0s alternate;
}

.updated-entry {
  transition: background-color 2s;
/*  border: 2px solid limegreen;*/
  animation: fade_green 2s linear 0s alternate;
  -webkit-animation: fade_green 2s linear 0s alternate;
}
.table-striped tbody tr:nth-of-type(odd).updated-entry{
  animation: fade_green_grey 2s linear 0s alternate;
  -webkit-animation: fade_green_grey 2s linear 0s alternate;
}

@-webkit-keyframes fade_blue {
  from {
    background-color: dodgerblue;
  }

  to {
    background-color: inherit;
  }
}

@keyframes fade_blue {
  from {
    background-color: dodgerblue;
  }

  to {
    background-color: inherit;
  }
}

@-webkit-keyframes fade_green {
  from {
    background-color: limegreen;
  }

  to {
    background-color: inherit;
  }
}

@keyframes fade_green {
  from {
    background-color: limegreen;
  }

  to {
    background-color: inherit;
  }
}

@-webkit-keyframes fade_green_grey {
  from {
    background-color: limegreen;
  }

  to {
    background-color: rgba(0,0,0,0.05);
  }
}

@keyframes fade_green_grey {
  from {
    background-color: limegreen;
  }

  to {
    background-color: rgba(0,0,0,0.05);
  }
}
@keyframes details-slideLeft {
  0% {transform: translate(0);}
  10% {transform: translate(-460px);}
  90% {transform: translate(-460px);}
  100% {transform: translate(0);}
}

@-webkit-keyframes details-slideLeft {
  0% {transform: translate(0);}
  10% {transform: translate(-460px);}
  90% {transform: translate(-460px);}
  100% {transform: translate(0);}
}

